<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyt.bankmanagersystem.mapper.CardMapper">

    <select id="getUserCards" resultType="com.tyt.bankmanagersystem.entity.vo.admin.AdminUserCardsVO" parameterType="com.tyt.bankmanagersystem.entity.dto.admin.AdminPageUserCardsDTO">
        SELECT
        c.card_number,
        c.type_id,
        c.status,
        c.created_at,
        c.updated_at,
        c.balance,
        u.name,
        u.phone
        FROM db_bankManager.bank_card c
        JOIN db_bankManager.user u
        ON c.user_id = u.user_id
        <where>
            <if test="dto.name != null and dto.name != ''">
                u.name = #{dto.name}
            </if>
        </where>
    </select>
</mapper>